body{
	background-color: coral;


}

.topnav input[type=text]{
	font-size: 30px;
	display :block;
	margin-top: 250px;
	margin-left : 100px;
	margin-right: 50px;
	margin-bottom: 50px;
	padding-left : 100px;
	padding-right : 100px;




}